:local(.management){
  padding:20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;

  :local(.prepareStage){
    width: 700px;
    height:520px;
    background-color: #92aeff;
    background-image: radial-gradient(circle at 0 0, rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.0));
    overflow: visible;
    position: relative;
    :local(.logo){
      position:absolute;
      left:40px;
      top:30px;
    	font-size: 14px;
    	font-weight: 600;
    	letter-spacing: 0.8px;
      color: #a3b4ff;
    }
    :local(.targetValue){
      top: -25px;
      right: 40px;
      position: absolute;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      :local(.targetValueLabel){
      	font-size: 20px;
      	font-weight: 500;
      	color: #ffffff;
        margin-bottom: 10px;
      }
      :local(.targetValueBox){
        display: flex;
        justify-content: center;
        align-items: center;
        :local(.targetValueCard){
          padding:11px 12px;
          background-color: #3d3d3d;
          border-radius:  6px;
          font-family: ProximaNovaSoft;
        	font-size: 64px;
        	font-weight: bold;
        	color: #ffffff;
          margin-left: 5px;
        	text-shadow: 0 6px 8px rgba(0, 0, 0, 0.68);
        }
      }
    }
    :local(.prepareStageContainer){
      height: 477px;
      width:620px;
      display: flex;
      flex-direction: column;
      position: relative;
      left:40px;
      top:77px;
      box-shadow: 0 25px 100px 0 rgba(0, 0, 0, 0.64);
    }
    :local(.content){
      width:100%;
      flex-grow: 2;
      background-color: #ffffff;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding:35px 40px;
      flex-wrap:wrap;
      align-content:flex-start;
      overflow-y: scroll;
      :local(.box){
        display: flex;
        align-items: center;
        width: 235px;
        justify-content: space-between;
        flex-shrink: 0;
        margin-bottom: 10px;
        :local(.state){
          font-size:14px;
          margin-left: 10px;
          :local(.item){
            display: flex;
            align-items: center;
          }
        }
      }
    }
    :local(.tipContent){
      width:100%;
      background-color: #ffffff;
      position: relative;
      overflow: hidden;
      
      :local(.tipContainer){
        padding: 35px 90px;
        width: 100%;
        height: 410px;
        overflow-y: hidden;
        :local(.risingUpDiv){
          display: flex;
          flex-direction: column;
          position: absolute;
          bottom: -410px;
          width: 410px;
          height: 410px;
          // animation-duration: 12s;
          // animation-name: risingUp;
          // animation-iteration-count: infinite;
          // animation-timing-function: linear;
        }
        :local(.tip) {
          position: absolute;
          width: 400px;
          display: flex;
          justify-content: flex-start;
          flex-direction: row;
          margin-top: 10px; 
          margin-bottom: 10px;
          align-items: center;
          // animation-duration: 19s;
          // animation-name: risingUp;
          // animation-iteration-count: infinite;
          // animation-timing-function: linear;
          // opacity: 0;
          height: 50px;
          // animation-fill-mode: backwards;
          // animation-direction: alternate;
          :local(.tipDetail){
            margin-left: 30px;
            font-size: 14px;
          }
        }
      }
      :local(.shadeCover){
        position:absolute;
        width: 100%;
        height: 60px;
        opacity: 0.5;
        background-color: white;
      }
      :local(.shadeCoverBottom){
        bottom: 0px;
        position:absolute;
        width: 100%;
        height: 60px;
        opacity: 0.5;
        background-color: white;
      }

    }
    :local(.footer){
      height: 68px;
      background-color: #202020;
    	font-size: 36px;
    	font-weight: 600;
    	letter-spacing: 2px;
    	color: #b1c3ff;
      text-align: center;
      line-height: 68px;
      cursor:pointer;
    }
  }
}

@keyframes risingUp {
  0%   {bottom: -45px;opacity: 0}
  25%   {bottom: -45px;opacity: 0}
  50%   {bottom: 173px;opacity: 1}
  75%   {bottom: 377px;opacity: 0.3}
  100%   {bottom: 391px;opacity: 0}
}
